body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
  }
  .container{
      flex: 1;
  }
  
  /* navbar */
  .navbar{
      height: 5rem;
      background-color: white ;
    
  }
  .fa-compass{
       color: #fe424d;
       font-size: 2rem;
  }
  .nav-link{
      font-weight: 1000 !important;
  }
  
  /* FOOTER */
  
  .f-info-link a{
      text-decoration: none;
      color: #222;
  }
  
  .f-info-link a:hover{
      text-decoration: underline;
  }
  
  .f-info-link,.f-info-socials,.f-info-brand{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .f-info-socials i{
      font-size: 1.3rem;
      margin-right: 1rem;
  }
  
  .f-info{
      text-align: center;
      display: flex;
      height: 8rem;
      background-color: #ebebeb;
      flex-wrap: wrap;
      justify-content: center;
      align-items: space-evenly;
      font-weight: 600;
  
  }
  
  
  /* CARDS */
  
  .listing-card{
      border: none !important;
      bottom: 2rem;
  }
  
  .card-img-top{
      border-radius: 1rem !important;
      width: 100% !important ;
      object-fit: cover !important;
  }
  .card-body{
      padding: 0;
  }
  .card-text p{
      font-weight: 400 !important;
  }
  .listing-link{
      text-decoration: none ;
  }
  
  /* CARDS EFFECT */
  
  .card-img-overlay{
      opacity: 0;
  }
  .card-img-overlay:hover{
      opacity: 0.2;
      background-color: white;
  }
  
  /* NEW PAGE */
  
  .add-btn{
      background-color: #fe424d !important;
      border: none !important;
  }
  
  .add-btn:hover{
      opacity: 0.8;
  }
  
  /* EDIT PAGE */
  .edit-btn{
      background-color: #fe424d !important;
      border: none !important;
  }
  .edit-btn:hover{
      opacity: 0.8;
  }
  
  /* SHOW PAGE */
  .show-img{
      height: 30vh;
  
  }
  .btns{
      display: flex;
  }

  /* Map */
  #map { 
   height: 400px;
   width: 80vh;
   

}
  